{% extends "base.html" %}

{% block content %}
<h1>{{event.name}}</h1>
<div  style="margin-bottom: 15px; padding: 8px; background: #daf1f2;">
    <p>Запланированная дата: {{ event.planned_date|date:"d.m.Y" }}</p>
    <p>Фактическая дата: {{ event.actual_date|date:"d.m.Y" }}</p>
    <p>Статус: {{event.get_status_display}}</p>
    <p>Тип мероприятия: {{event.event_type}}</p>
    <p>Сложность: {{event.get_difficulty_display}}</p>
    <p>Стоимость: {{event.price}}</p>
    <p>Описание: {{event.comment}}</p>
</div>
<p><a href="{% url 'events' %}">← Назад</a></p>
{% endblock %}